:root > * {
  --md-primary-fg-color:        #4A90E2;
  --md-accent-fg-color:         #4A90E2; /* button color on hover */
  --md-default-fg-color--light: hsla(0, 0%, 0%, 0.87); /* text in light mode */
}

/* dark mode colors */
[data-md-color-scheme="slate"] {
  --md-default-fg-color--light: hsla(0, 0%, 100%, 0.87); /* text */
  --md-default-bg-color: #202020; /* background */
  --md-typeset-a-color: #4A90E2; /* link color */
}